* text=auto

*.cs text eol=crlf
*.sln text eol=crlf
*.csproj text eol=crlf

*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.svg text eol=lf